{% block head %}
  {{ super() }}
  <script src="/scripts/particles.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      if (window.particlesJS) {
        particlesJS.load('particles-js', '/scripts/particles-config.json');
      }
    });
  </script>
{% endblock %}
