{% block head %}
  {{ super() }}
    <script src="https://cdn.jsdelivr.net/npm/tsparticles@2/tsparticles.min.js"></script>
      <script defer src="/scripts/particles.js"></script>
{% endblock %}
